@model IEnumerable<IRPiWebApp.Models.IREntity>
@{
    ViewBag.Title = "GetPartition";
}

<h2>Get Partition results</h2>

<table border="1">
    <tr>
        <th>DeviceID</th>
        <th>Product name</th>
        <th>Action name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var irEntity in Model)
    {
        <tr>
            <td>@(irEntity.PartitionKey)</td>
            <td>@(irEntity.RowKey.Split(';')[0])</td>
            <td>@(irEntity.RowKey.Split(';')[1])</td>
            <td>@Html.ActionLink("Transmit Message", "Transmit", "RPi", new { irPartitionKey = irEntity.PartitionKey, irRowKey = irEntity.RowKey }, null)</td>
            <td>@Html.ActionLink("X", "Delete", "RPi", new { irPartitionKey = irEntity.PartitionKey, irRowKey = irEntity.RowKey }, new { onclick = "return confirm('Damn, I loved this one. Are you sure you wish to delete it?');" })</td>
        </tr>
    }
</table>
