@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Hello @(User.Identity.Name) !</a>
        </li>
        <li>
            @if (!String.IsNullOrEmpty(Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME")))
            {
                @Html.ActionLink("Log out", "/logout", ".auth")
            }
            else
            {
                @Html.ActionLink("Log out", "LogoutLocal", "Account")
            }
            <!--<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>-->
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <!--<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li> 
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li> -->
        @if (!String.IsNullOrEmpty(Environment.GetEnvironmentVariable("WEBSITE_SITE_NAME")))
        {
            <li>@Html.ActionLink("Log in", "/login/google", ".auth")</li>
        }
        else
        {
            <li>@Html.ActionLink("Log in (Local)", "LoginLocal", "Account")</li>
        }
    </ul>
}
