@model IRPiWebApp.Models.IRRecordModel

@{
    ViewBag.Title = "Create recording";
}

<h2>Create recording</h2>

@using (Html.BeginForm("StartRecording", "RPi", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", placeholder = "Product Name"})
    @Html.ValidationMessageFor(model => model.ProductName)
    @Html.TextBoxFor(model => model.ActionName, new { @class = "form-control" , placeholder = "Action Name" })
    @Html.ValidationMessageFor(model => model.ActionName)
    @Html.DropDownListFor(model => model.DeviceID, new SelectList(ViewBag.Devices), new { @class = "btn btn-primary dropdown-toggle" })
    <button type="submit" class="btn btn-default">Start</button>
}